@import '../../assets/flex';

body {
  overflow:hidden;
}

.App {
  margin: -8px;
  flex-grow: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.modal-wrapper {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 10;
  margin-left: -8px;
}
